p {
  
  margin-top: 0px;
  margin-bottom: 0px;
}

body {
  font-family: Roboto, Arial;
  height: 4000px;
  margin: 0px;
  padding-top: 80px;
  padding-left: 96px;
  padding-right: 24px;
  background-color: rgb(248, 247, 247);
}

@media (max-width: 1200px) {
  body {
    padding-left: 96px;
  }
}
@media (min-width: 1200.1px) {
  body {
    padding-left: 224px;
  }
}

div {
  font-family: Roboto, Arial;
}

a {
  text-decoration: none;
  color: black;
}